<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= error.message %></h4>
      <p>Aww yeah, you successfully read this important mesage or something who knows</p>
      <hr>
      <p class="mb-0">Whenever you need to blah blah blah</p>
      <pre>
        <%= error.stack %> 
      </pre>
    </div>
  </div>
</div>